<footer class="footer">
  <div class="container footer__container">
    <ul class="footer__items list-reset footer__items-first">
      <li class="footer__item">
        <a href="#" class="footer__logo logo">Logo</a>
        <a href="tel:88005553535" class="footer__phone" >8-800-555-35-35</a>
        <a href="mailto:test@mail.com" class="footer__email">test@mail.com</a>
      </li>
    </ul>
    <ul class="footer__items list-reset footer__items-second">
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>

    </ul>
    <ul class="footer__items list-reset footer__items-third">
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>

    </ul>
    <ul class="footer__items list-reset footer__items-fourth">
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
      <li class="footer__item"><a href="#" class="footer__item-link">Ссылка в подвале</a></li>
    </ul>
  </div>
</footer>





