<section class="slider-section" >
 <div class="container">
  <div class="swiper slider__wrapper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="swiper-slide slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
  </div>
 </div>
 <div class="slider__control slider__control-left" data-slide="prev">
  <svg>
    <use xlink:href="img/sprite.svg#arrow-left">
  </svg>
</div>
<div class="slider__control slider__control-right" data-slide="next">
  <svg>
    <use xlink:href="img/sprite.svg#arrow-right">
  </svg>
</div>
</section>
