<section class="tabs">
  <div class="container tabs__header-container">
    <div class="tabs__header">
      <h2 class="tabs__title">Заголовок страницы</h2>
    </div>
  </div>
  <div class="container tabs__container">
    <aside class="tabs__aside"></aside>
    <div class="tabs__content">
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
      <div class="slider__item">
        <div class="slider__item-img">
          <img src="../img/slider-img.png" alt="slider img">
        </div>
        <div class="slider__item-content"></div>
      </div>
    </div>
  </div>
</section>
